div {
     color:red
     background-color: grey;
     font size: 18px;

}     

<html>
     <head>
           <style>
               div {
                    color: red;
               }
          </style>
       </head>
       <body>
            <div>this text is red</div>
            <div>this text is red</div>
            <div>this text is red</div>
            <div>this text is red</div>
        </body>
</html>

<style>
    h1{
         color: orchid;
         font-weight: Montserrat,
         sans-serif;
         font-size: 50px;
    }
</style>

