div {
     background-color: rgb(255, 0, 0);

}

p {
     color: #0000ff;
     background-color: lightblue;

}

div {
     width: 50px;
     height: 100px;
     background-color: lightblue;

}
img {
     width: 150px;     

      

